// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------



@mixin bebas($type: 'bold') {
  @if ($type == 'bold') {
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-style: normal;
    font-weight: 700;
  }
  @if ($type == 'regular') {
    font-family: bebas-neue-by-fontfabric, sans-serif;
    font-style: normal;
    font-weight: 400;
  }
}