.logo {
  position: absolute;
  margin: 0 auto;
  top: 40px;
  left: 50%;
  @include transform(translateX(-50%));
  z-index: 100;
}
.scroll-btn {
  position: absolute;
  bottom: 24px;
  left: 50%;
  @include transform(translateX(-50%));
  flex-direction: column;
  z-index: 100;
  @include font-din(bold);
  font-size: 10px;
  letter-spacing: 0.05em;
  width: 36px;
  height: 28px;
  justify-content: space-between;
  img {
    width: 12px;
  }
}