.logo {
  position: absolute;
  margin: 0 auto;
  top: 40px;
  left: 50%;
  @include transform(translateX(-50%));
  z-index: 100;
}
.scroll-btn {
  position: absolute;
  bottom: 24px;
  left: 50%;
  @include transform(translateX(-50%));
  flex-direction: column;
  z-index: 100;
  @include font-din(bold);
  font-size: 10px;
  letter-spacing: 0.05em;
  width: 36px;
  height: 28px;
  justify-content: space-between;
  img {
    width: 12px;
  }
}

.sec-hero {
  padding-top: 180px;
  text-align: center;
  h1 {
    font-size: 32px;
    letter-spacing: 0.05em;
    font-family: 'felix';
  }
  p {
    font-size: 13px;
    letter-spacing: 0.1em;
    font-family: 'felix';
    margin-top: 15px;
    line-height: 28px;
  }
}

.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.article-pagination {
  margin: 48px 0;
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    li {
      a {
        font-size: 13px;
        letter-spacing: 0.1em;
        @include font-ud(medium);            
      }
      &.prev, &.next {
        a {
          color: $black;
          width: 160px;
          height: 40px;
          border-radius: 4px;
          background: #f8f8f8;
        }
        margin: 0 40px;
      }
      &.active {
        a {
          color: $white;
          width: 160px;
          height: 40px;
          border-radius: 4px;
          background: #506285;
          &:hover {
            background: #4c92d9;
          }           
        }
      }
      &.page-num {
        margin: 0 16px;
      }  
    }
  }
}